---
interface Props {
  title: string;
  className?: string;
}

const { title, className = '' } = Astro.props;
---

<div class={`Fade_Up my-4 ${className}`}>
  <div class="Fade_Up Title_Line font-mono relative flex_center text-gradient-full">
    <span class="text-xl xs:text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-extrabold">
      {"<"}
    </span>
    <p class="text-2xl xs:text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-extrabold whitespace-nowrap px-1 sm:px-2">
      {title}
    </p>
    <span class="text-xl xs:text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-extrabold">
      {"/>"}
    </span>
  </div>

  <slot />
</div>

